<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="PlaneUI" />
        <meta name="keywords" content="PlaneUI" />
		<title>文章内容页 - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" href="./../../dist/css/planeui.css" />
	</head>
	<body>
		<div class="pui-layout" style="width:96%;margin:0 auto;">
            <br/>
            <h4 class="pui-h4">文章内容页</h4>
            <p><small>兼容情况： 支持 IE8+</small></p><br/>
            <article>
                <header>
                    <h1 class="pui-article-title">文章标题XXXXXXXXXXXXXX</h1>
                    <div class="pui-article-subtitle">
                        发表于2014年6月3日 09:18 来自：微博 weibo.com
                        <div class="pui-font-sizer" target=".pui-article-content > *, section > *">
                            <span class="pui-text-xs" size="default">默认</span>
                            <span class="pui-text-sm" size="14px">小</span>
                            <span class="pui-text-md" size="18px">中</span>
                            <span class="pui-text-lg" size="24px">大</span>
                        </div>
                    </div>
                </header>
                <hr class="pui-hr-dashed" />
                <div class="pui-article-content">
                    <img src="http://ww4.sinaimg.cn/bmiddle/7a95ca5egw1ec1hx75dmej20c70h5wew.jpg" width="200" class="pui-img-align-left" />
                    <p>.article-content 下的正文内容</p>
                    <p>“普若格码.扣德的衬衣”，工程能力+20，智商+10，情商-30，异性吸引力-100。在历史上，扣德家族是“布格.泰斯特家族”的死敌。但是很多扣德家族的青年违背了他们的家族誓言，娶了泰斯特家族的女人为妻。</p>
                    <p>急招Swift资深工程师，要求5年以上Swift语言开发经验，尊敬领导，服从指示，有狼性，待遇从优。</p>
                    <p>【世界上最珍贵的东西都是免费的】①阳光免费,但不能生产 ②空气免费,污染后难还原 ③爱情免费,却非每人所得 ④亲情免费,难敌生死 ⑤友情免费,需掏心掏肺 ⑥梦想免费,容易夭折 ⑦信念免费,却难坚持…那么多美好的东西都是免费的,花钱是买不到的。珍惜拥有，早安，周一！</p>
                </div>
                <section>
                    <h6>section文章正文小节一</h6>
                    <p>“普若格码.扣德的衬衣”，工程能力+20，智商+10，情商-30，异性吸引力-100。在历史上，扣德家族是“布格.泰斯特家族”的死敌。但是很多扣德家族的青年违背了他们的家族誓言，娶了泰斯特家族的女人为妻。</p>
                    <p>急招Swift资深工程师，要求5年以上Swift语言开发经验，尊敬领导，服从指示，有狼性，待遇从优。</p>
                </section>
                <section>
                    <h6>section文章正文小节二</h6>
                    <p>“普若格码.扣德的衬衣”，工程能力+20，智商+10，情商-30，异性吸引力-100。在历史上，扣德家族是“布格.泰斯特家族”的死敌。但是很多扣德家族的青年违背了他们的家族誓言，娶了泰斯特家族的女人为妻。</p>
                    <p>急招Swift资深工程师，要求5年以上Swift语言开发经验，尊敬领导，服从指示，有狼性，待遇从优。</p>
                </section>
                <hr />
                <div class="pui-article-foot">
                    <p>文章页脚</p>
                    <p>某某某，写于2014年11月08日</p>
                </div>
            </article>
        </div>

        <!--[if (gte IE 9) | !(IE)]><!-->
		<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
        <!--<![endif]-->

		<!--[if lt IE 9]>
		<script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie8.js"></script>
		<![endif]-->

		<!--[if lt IE 10]>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie9.js"></script>
		<![endif]-->
		<script type="text/javascript" src="./../../dist/js/planeui.js"></script>
	</body>
</html>