<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="PlaneUI" />
        <meta name="keywords" content="PlaneUI" />
        <title>Button Sheets - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="./../../dist/css/planeui.css" />
        <style> 
            #test > .pui-button-sheet-row > a {
                border: 5px solid #fff;
            }
            
            .pui-button-sheet {
                height: 360px;
            }
        </style>
	</head>
	<body>
		<div class="pui-layout" style="width:96%;">
            <br/>
            <h4 class="h4">按钮表 Button Sheets</h4>
            <p><small>兼容情况： 支持 IE8+</small></p><br/>
            <div class="pui-button-sheet pui-button-sheet-table pui-button-sheet-hover-bg-none" style="width:360px;height:54px;">
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-envelope fa-2x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-comments fa-2x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cog fa-2x"></i>按钮1</a>
                </div>
            </div>
            <br/>
            <div class="pui-button-sheet-position-bottom pui-button-sheet-position-wrapper" style="bottom:60px;">
                <div class="pui-button-sheet pui-button-sheet-table pui-button-sheet-hover-bg-none " style="height:180px;" pui-button-sheet-show-more-height="270px">
                    <div class="pui-button-sheet-row">
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                    </div> 
                    <div class="pui-button-sheet-row">
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                        <a href="javascript:;" class="pui-button-sheet-more"><i class="fa fa-ellipsis-horizontal fa-3x"></i>更多</a>
                    </div>
                    <div class="pui-button-sheet-row" style="display:none;">
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                        <a href="javascript:;"></a>
                    </div>
                </div>
                <br/>
                <div class="pui-button-sheet pui-button-sheet-table pui-button-sheet-hover-bg-none pui-button-sheet-position-bottom" style="height:64px;">
                    <div class="pui-button-sheet-row">
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-3x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-envelope-alt fa-3x"></i>按钮1</a> 
                        <a href="javascript:;"><i class="fa fa-comments-alt fa-3x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cog fa-3x"></i>按钮1</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="pui-button-sheet-wrapper">
                <div class="pui-button-sheet pui-button-sheet-table pui-button-sheet-hover-bg-none" style="width:180px;height:100px;">
                    <div class="pui-button-sheet-row">
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                    </div> 
                    <div class="pui-button-sheet-row">
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                        <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="pui-button-sheet pui-button-sheet-table pui-button-sheet-hover-bg-none" style="width:150px;height:150px;">
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                </div> 
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-2x"></i>按钮1</a>
                </div>
            </div>
            <br/>
            <div class="pui-button-sheet pui-button-sheet-table pui-button-sheet-table-unbordered" style="width:363px;height:363px;" id="test">
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><img src="images/5.jpg"/></a>
                    <a href="javascript:;"><img src="images/6.jpg"/></a>
                    <a href="javascript:;"><img src="images/5.jpg"/></a>
                </div> 
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><img src="images/5.jpg"/></a>
                    <a href="javascript:;"><img src="images/6.jpg"/></a>
                    <a href="javascript:;"><img src="images/5.jpg"/></a>
                </div>
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><img src="images/5.jpg"/></a>
                    <a href="javascript:;"><img src="images/6.jpg"/></a>
                    <a href="javascript:;"><img src="images/5.jpg"/></a>
                </div>
            </div>
            <br/>
            <div class="pui-button-sheet pui-button-sheet-table pui-button-sheet-bordered">
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                </div> 
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                </div>
            </div>
            <br/>
            <div class="pui-button-sheet pui-button-sheet-table pui-button-sheet-bordered">
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                </div> 
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                </div>
            </div>
            <br/>
            <div class="pui-button-sheet pui-button-sheet-table pui-button-sheet-bordered">
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                </div> 
                <div class="pui-button-sheet-row">
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                    <a href="javascript:;"><i class="fa fa-cloud-upload fa-5x"></i>按钮1</a>
                </div>
            </div>
        </div>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="./../../dist/js/planeui.iepatch.js"></script>
        <![endif]-->
        <!--[if (gte IE 9) | !(IE)]><!-->
        <script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="./../../dist/js/planeui.js"></script>
    </body>
</html>