<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="PlaneUI" />
        <meta name="keywords" content="PlaneUI" />
        <title>卡片 - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="../../dist/css/planeui.css" />
        <style>            
            @media (max-width: 360px) {
                .pui-card-column > .pui-card-left img,
                .pui-card-column > .pui-card-right img {
                    width: 100%;
                    height: auto;
                }
            }
        </style>
	</head>
	<body>
        <div class="pui-layout" style="width:96%;">
            <br/> 
            <h4>卡片 Card</h4>
            <p><small>兼容情况： 支持 IE9+（部分支持 IE8）</small></p>
            <div class="pui-card pui-card-shadow pui-card-radius">
                <div class="pui-card-box">
                    <h1>《八月照相馆》<small>韩国爱情电影</small></h1>
                    <p class="pui-text-indent">《八月照相馆》是由许秦豪执导，韩石圭、沈银河主演的爱情电影。影片讲述了一个发生在已经收到死亡宣告的男子温暖而美丽的故事。该片于1998年1月24日在韩国上映。影片获第34届韩国百想艺术大赏和第19届韩国青龙电影奖最佳电影奖。</p>
                    <p class="pui-text-indent">《八月照相馆》的故事灵感来源于韩国已故歌手金光硕一张表情安详温暖的遗照，而该片的大多数主创人员都是出生在八月，所以片名叫做片名《八月照相馆》。</p>
                    <p class="pui-text-right"><br/><a href="#" class="pui-btn pui-btn-default pui-unbordered">详细 >></a></p>
                </div>
            </div>  
            <div class="pui-card pui-card-shadow pui-card-radius">
                <div class="pui-card-box">
                    <h1>《八月照相馆》<small>韩国爱情电影</small></h1><p>
                    <div class="pui-card-box-left">
                        <p><img src="images/7.jpg" class="pui-width-12rem" /></p>    
                    </div>
                    <p class="pui-text-indent">《八月照相馆》是由许秦豪执导，韩石圭、沈银河主演的爱情电影。影片讲述了一个发生在已经收到死亡宣告的男子温暖而美丽的故事。该片于1998年1月24日在韩国上映。影片获第34届韩国百想艺术大赏和第19届韩国青龙电影奖最佳电影奖。</p>
                    <p class="pui-text-indent">《八月照相馆》的故事灵感来源于韩国已故歌手金光硕一张表情安详温暖的遗照，而该片的大多数主创人员都是出生在八月，所以片名叫做片名《八月照相馆》。</p>
                    <p class="pui-text-right"><br/><a href="#" class="pui-btn pui-btn-default pui-unbordered">详细 >></a></p>
                </div>
            </div>     
            <div class="pui-card pui-card-shadow pui-card-radius">
                <div class="pui-card-box">
                    <h1>《八月照相馆》<small>韩国爱情电影</small></h1><p>
                    <div class="pui-card-box-right">
                        <p><img src="images/7.jpg" class="pui-width-12rem" /></p>    
                    </div>
                    <p class="pui-text-indent">《八月照相馆》是由许秦豪执导，韩石圭、沈银河主演的爱情电影。影片讲述了一个发生在已经收到死亡宣告的男子温暖而美丽的故事。该片于1998年1月24日在韩国上映。影片获第34届韩国百想艺术大赏和第19届韩国青龙电影奖最佳电影奖。</p>
                    <p class="pui-text-indent">《八月照相馆》的故事灵感来源于韩国已故歌手金光硕一张表情安详温暖的遗照，而该片的大多数主创人员都是出生在八月，所以片名叫做片名《八月照相馆》。</p>
                    <p class="pui-text-right"><br/><a href="#" class="pui-btn pui-btn-default pui-unbordered">详细 >></a></p>
                </div>
            </div>     
            <div class="pui-card pui-card-image pui-card-radius pui-card-column">
                <div class="pui-card-left pui-bg-green pui-height-32rem">
                    <h1>八月照相馆<small>韩国爱情电影</small></h1>
                    <p><img src="images/7.jpg" class="pui-width-18rem" /></p>
                </div>
                <div class="pui-card-box">
                    <h1>《八月照相馆》<small>韩国爱情电影</small></h1>
                    <p class="pui-text-indent">《八月照相馆》是由许秦豪执导，韩石圭、沈银河主演的爱情电影。影片讲述了一个发生在已经收到死亡宣告的男子温暖而美丽的故事。该片于1998年1月24日在韩国上映。影片获第34届韩国百想艺术大赏和第19届韩国青龙电影奖最佳电影奖。</p>
                    <p class="pui-text-indent">《八月照相馆》的故事灵感来源于韩国已故歌手金光硕一张表情安详温暖的遗照，而该片的大多数主创人员都是出生在八月，所以片名叫做片名《八月照相馆》。</p>
                    <p class="pui-text-right"><br/><a href="#" class="pui-btn pui-btn-default pui-unbordered">详细 >></a></p>
                </div>
            </div>         
            <div class="pui-card pui-card-image pui-card-radius pui-card-column">
                <div class="pui-card-box">
                    <h1>《八月照相馆》<small>韩国爱情电影</small></h1>
                    <p class="pui-text-indent">《八月照相馆》是由许秦豪执导，韩石圭、沈银河主演的爱情电影。影片讲述了一个发生在已经收到死亡宣告的男子温暖而美丽的故事。该片于1998年1月24日在韩国上映。影片获第34届韩国百想艺术大赏和第19届韩国青龙电影奖最佳电影奖。</p>
                    <p class="pui-text-indent">《八月照相馆》的故事灵感来源于韩国已故歌手金光硕一张表情安详温暖的遗照，而该片的大多数主创人员都是出生在八月，所以片名叫做片名《八月照相馆》。</p>
                    <p><br/><a href="#" class="pui-btn pui-btn-default pui-unbordered">详细 >></a></p>
                </div>
                <div class="pui-card-right pui-bg-green">
                    <p><img src="images/7.jpg" height="240" /></p>
                    <h1>《八月照相馆》<small>韩国爱情电影</small></h1>
                </div>
            </div>   
            <div class="pui-card pui-card-image pui-card-radius">
                <div class="pui-card-head-bg">
                    <p><img src="images/header-bg.jpg" class="pui-card-head-img" /></p>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p>卡片内容层</p>
                </div>
            </div>      
            <div class="pui-card pui-card-image pui-card-radius">
                <div class="pui-card-head-bg">
                    <div class="pui-bg-pink pui-height-20rem"></div>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p>卡片内容层</p>
                </div>
            </div> 
            <div class="pui-card pui-card-image pui-card-radius">
                <div class="pui-card-head-bg">
                    <div class="pui-bg-teal pui-height-10rem"></div>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p>卡片内容层</p>
                </div>
            </div>        
            <h6>pui-card-default + pui-card-unbordered + pui-card-box</h6>
            <div class="pui-card pui-card-default pui-card-unbordered">
                <div class="pui-card-box">
                    <p><img src="images/header-bg.jpg" class="pui-img-size-auto" /></p>
                    <p>卡片内容层</p>
                </div>
            </div>            
            <h6>pui-card-default + pui-card-box</h6>
            <div class="pui-card pui-card-default pui-card-shadow">
                <div class="pui-card-box">
                    <p><img src="images/header-bg.jpg" class="pui-img-size-auto" /></p>
                    <p>卡片内容层</p>
                </div>
            </div>
            <h6>pui-card-default + pui-card-unbordered</h6>
            <div class="pui-card pui-card-default pui-card-simple pui-card-unbordered">
                <div class="pui-card-title">
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p><img src="images/header-bg.jpg" class="pui-img-size-auto" /></p>
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot">卡片页脚</div>
            </div>
            <h6>pui-card-default + pui-card-simple</h6>
            <div class="pui-card pui-card-default pui-card-simple">
                <div class="pui-card-title">
                    <span class="pui-card-title-right">
                        <a href="javascript:;" class="pui-badge pui-badge-error pui-badge-circle">99</a>
                        <a href="javascript:;" class="pui-badge pui-badge-default pui-badge-circle">99</a>                        
                    </span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p><img src="images/header-bg.jpg" class="pui-img-size-auto" /></p>
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot">卡片页脚</div>
            </div>
            <!--<h6>pui-card-default + pui-card-simple</h6>
            <div class="pui-card pui-card-default pui-card-simple">
                <div class="pui-card-title">
                    <span class="pui-card-title-right">
                        <a href="javascript:;" class="pui-badge pui-badge-error pui-badge-circle">99</a>
                        <a href="javascript:;" class="pui-badge pui-badge-default pui-badge-circle">99</a>                        
                    </span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">卡片内容层</div>
                <div class="pui-card-foot">卡片页脚</div>
            </div>-->
            <h6>pui-card-default + pui-card-simple + pui-card-title-left-border + pui-card-radius +  pui-card-shadow</h6>
            <div class="pui-card pui-card-default pui-card-simple pui-card-radius pui-card-shadow">
                <div class="pui-card-title pui-card-title-left-border">
                    <span class="pui-card-title-right"><a href="javascript:;">更多内容>></a></span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p><img src="images/header-bg.jpg" class="pui-img-size-auto" /></p>
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot">卡片页脚</div>
            </div>
            <h6>pui-card-default + pui-card-simple + pui-card-title-left-border + pui-card-radius +  pui-card-shadow + </h6>
            <div class="pui-card pui-card-default pui-card-simple pui-card-radius pui-card-shadow">
                <div class="pui-card-title pui-card-title-left-border">
                    <span class="pui-card-title-right"><a href="javascript:;">更多内容>></a></span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p><img src="images/header-bg.jpg" class="pui-img-size-auto" /></p>
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot">卡片页脚</div>
            </div>
            <h6>pui-card-default + pui-card-title-underline + pui-card-radius + pui-card-title-bg + pui-card-foot-topline +  pui-card-shadow</h6>
            <div class="pui-card pui-card-default pui-card-radius pui-card-shadow">
                <div class="pui-card-title pui-card-title-underline pui-card-title-bg">
                    <span class="pui-card-title-right"><a href="javascript:;">更多内容>></a></span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p><img src="images/header-bg.jpg" class="pui-img-size-auto" /></p>
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot pui-card-foot-topline pui-card-foot-bg">卡片页脚</div>
            </div>
            <h6>pui-card-default + pui-card-title-underline + pui-card-radius + pui-card-title-bg + pui-card-foot-topline +  pui-card-shadow</h6>
            <div class="pui-card pui-card-default pui-card-radius pui-card-shadow">
                <div class="pui-card-title pui-card-title-underline pui-card-title-bg">
                    <span class="pui-card-title-right"><a href="javascript:;">更多内容>></a></span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p><img src="images/header-bg.jpg" class="pui-img-size-auto" /></p>
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot pui-card-foot-topline pui-card-foot-bg">卡片页脚</div>
            </div>
            <h6>pui-card-primary + pui-card-radius</h6>
            <div class="pui-card pui-card-default pui-card-radius pui-card-primary">
                <div class="pui-card-title pui-card-title-underline">
                    <span class="pui-card-title-right"><a href="javascript:;">更多内容>></a></span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot pui-card-foot-topline pui-card-foot-bg">卡片页脚</div>
            </div>
            <h6>pui-card-success + pui-card-shadow</h6>
            <div class="pui-card pui-card-default pui-card-radius pui-card-success pui-card-shadow">
                <div class="pui-card-title pui-card-title-underline">
                    <span class="pui-card-title-right"><a href="javascript:;">更多内容>></a></span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot pui-card-foot-topline pui-card-foot-bg">卡片页脚</div>
            </div>
            <h6>pui-card-info</h6>
            <div class="pui-card pui-card-default pui-card-radius pui-card-info">
                <div class="pui-card-title pui-card-title-underline">
                    <span class="pui-card-title-right"><a href="javascript:;">更多内容>></a></span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot pui-card-foot-topline pui-card-foot-bg">卡片页脚</div>
            </div>
            <h6>pui-card-warning</h6>
            <div class="pui-card pui-card-default pui-card-radius pui-card-warning">
                <div class="pui-card-title pui-card-title-underline">
                    <span class="pui-card-title-right"><a href="javascript:;">更多内容>></a></span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot pui-card-foot-topline pui-card-foot-bg">卡片页脚</div>
            </div>
            <h6>pui-card-error</h6>
            <div class="pui-card pui-card-default pui-card-radius pui-card-error">
                <div class="pui-card-title pui-card-title-underline">
                    <span class="pui-card-title-right"><a href="javascript:;">更多内容>></a></span>
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p>卡片内容层</p>
                </div>
                <div class="pui-card-foot pui-card-foot-topline pui-card-foot-bg">卡片页脚</div>
            </div>
            <h6>pui-card-padding-none + pui-card-title-underline</h6>
            <div class="pui-card pui-card-padding-none">
                <div class="pui-card-title pui-card-title-underline">
                    <h1>测试标题<small>副标题</small></h1>
                </div>
                <div class="pui-card-box">
                    <p><img src="images/header-bg.jpg" class="pui-img-size-auto" /></p>
                    <p>卡片内容层</p>
                </div>
            </div>
            <h6>pui-card-group</h6>
            <div class="pui-card-group">
                <div class="pui-card pui-card-default">
                    <div class="pui-card-title pui-card-title-underline">
                        <h1>测试标题<small>副标题</small></h1>
                    </div>
                    <div class="pui-card-box">卡片内容层</div>
                </div>  
                <div class="pui-card pui-card-default">
                    <div class="pui-card-title pui-card-title-underline">
                        <h1>测试标题<small>副标题</small></h1>
                    </div>
                    <div class="pui-card-box">卡片内容层</div>
                </div> 
                <div class="pui-card pui-card-default">
                    <div class="pui-card-title pui-card-title-underline">
                        <h1>测试标题<small>副标题</small></h1>
                    </div>
                    <div class="pui-card-box">卡片内容层</div>
                </div>               
            </div>
            <h6>pui-card-padding-none + pui-card-box-underline</h6>
            <div>
                <div class="pui-card pui-card-padding-none">
                    <div class="pui-card-title">
                        <h1>测试标题<small>副标题</small></h1>
                    </div>
                    <div class="pui-card-box pui-card-box-underline">卡片内容层</div>
                </div>   
                <div class="pui-card pui-card-padding-none">
                    <div class="pui-card-title">
                        <h1>测试标题<small>副标题</small></h1>
                    </div>
                    <div class="pui-card-box pui-card-box-underline">卡片内容层</div>
                </div>   
                <div class="pui-card pui-card-padding-none">
                    <div class="pui-card-title">
                        <h1>测试标题<small>副标题</small></h1>
                    </div>
                    <div class="pui-card-box">卡片内容层</div>
                </div>                
            </div>
        </div>

        <!--[if (gte IE 9) | !(IE)]><!-->
		<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
        <!--<![endif]-->

		<!--[if lt IE 9]>
		<script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie8.js"></script>
		<![endif]-->

		<!--[if lt IE 10]>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie9.js"></script>
		<![endif]-->
		<script type="text/javascript" src="./../../dist/js/planeui.js"></script>
    </body>
</html>