<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="PlaneUI" />
        <meta name="keywords" content="PlaneUI" />
        <title>评论列表 - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="./../../dist/css/planeui.css" />
	</head>
	<body>
        <div class="pui-layout" style="width:96%;">
            <br/>
            <h4 class="h4">评论列表</h4>
            <div class="pui-comment pui-comment-avatar-left">
                <div class="pui-comment-avatar">
                    <img src="images/17.jpg" class="pui-img-circle pui-img-xs" />
                    <p>网友</p>
                </div>
                <div class="pui-comment-container">
                    <div class="pui-comment-main pui-comment-arrow-lt">
                        <header class="pui-comment-header">
                            <div class="pui-comment-title-right">
                                #1楼 <a href="javascript:;">赞(18)</a> <a href="javascript:;">反对(0)</a>
                            </div>
                            <div class="pui-comment-subtitle">评论于 2014-7-12 15:30</div>
                        </header>
                        <section class="pui-comment-content">
                            评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>
                            评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX
                        </section>
                        <div class="pui-comment-foot"><a href="javascript:;">回复</a><a href="">顶</a><a href="javascript:;">举报</a></div>
                    </div>   
                    <div class="pui-comment-reply">                   
                        <div class="pui-comment pui-comment-avatar-left">
                            <div class="pui-comment-arrow"><span></span></div>
                            <div class="pui-comment-avatar">
                                <img src="images/17.jpg" class="pui-img-circle pui-img-xs" />
                                <p>网友</p>
                            </div>
                            <div class="pui-comment-container">
                                <header class="pui-comment-header">
                                    <div class="pui-comment-title-right">
                                        #2楼 <a href="javascript:;">赞(1)</a> <a href="javascript:;">反对(18)</a>
                                    </div> 
                                    <div class="pui-comment-subtitle"><a href="javascript:;" class="pui-link">@某某某</a> <span class="pui-comment-reply-time">回复于2014-7-12 15:30</span></div>
                                </header>
                                <section class="pui-comment-content">
                                    介就是回复的内容文本....
                                </section>
                                <footer class="pui-comment-foot pui-text-right">
                                    <a href="javascript:;">回复</a><a href="">顶</a><a href="javascript:;">举报</a>
                                </footer>
                            </div>
                        </div>
                        <div class="pui-comment pui-comment-avatar-left">   
                            <div class="pui-comment-arrow"><span></span></div>                       
                            <div class="pui-comment-avatar">
                                <img src="images/17.jpg" class="pui-img-circle pui-img-xs" />
                                <p>网友</p>
                            </div>
                            <div class="pui-comment-container">
                                <header class="pui-comment-header">
                                    <div class="pui-comment-title-right">
                                        #2楼 <a href="javascript:;">赞(1)</a> <a href="javascript:;">反对(18)</a>
                                    </div> 
                                    <div class="pui-comment-subtitle"><a href="javascript:;" class="pui-link">@某某某</a> <span class="pui-comment-reply-time">回复于2014-7-12 15:30</span></div>
                                </header>
                                <section class="pui-comment-content">
                                    <blockquote>介就是回复的内容文本....</blockquote>
                                    你也太无聊了吧！
                                </section>
                                <footer class="pui-comment-foot">
                                    <a href="javascript:;">回复</a><a href="">顶</a><a href="javascript:;">举报</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pui-comment pui-comment-avatar-right">
                <div class="pui-comment-avatar">
                    <img src="images/17.jpg" class="pui-img-circle pui-img-xs" />
                    <p>网友</p>
                </div>
                <div class="pui-comment-container">
                    <div class="pui-comment-main pui-comment-arrow-rt">
                        <header class="pui-comment-header">
                            <div class="pui-comment-title-right">
                                #1楼 <a href="javascript:;">赞(18)</a> <a href="javascript:;">反对(0)</a>
                            </div>
                            <div class="pui-comment-subtitle">评论于 2014-7-12 15:30</div>
                        </header>
                        <section class="pui-comment-content">
                            评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>
                            评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX
                        </section>
                        <div class="pui-comment-foot"><a href="javascript:;">回复</a><a href="">顶</a><a href="javascript:;">举报</a></div>
                    </div>   
                    <div class="pui-comment-reply">                   
                        <div class="pui-comment pui-comment-avatar-left">
                            <div class="pui-comment-arrow"><span></span></div>
                            <div class="pui-comment-avatar">
                                <img src="images/17.jpg" class="pui-img-circle pui-img-xs" />
                                <p>网友</p>
                            </div>
                            <div class="pui-comment-container">
                                <header class="pui-comment-header">
                                    <div class="pui-comment-title-right">
                                        #2楼 <a href="javascript:;">赞(1)</a> <a href="javascript:;">反对(18)</a>
                                    </div> 
                                    <div class="pui-comment-subtitle"><a href="javascript:;" class="pui-link">@某某某</a> <span class="pui-comment-reply-time">回复于2014-7-12 15:30</span></div>
                                </header>
                                <section class="pui-comment-content">
                                    介就是回复的内容文本....
                                </section>
                                <footer class="pui-comment-foot pui-text-right">
                                    <a href="javascript:;">回复</a><a href="">顶</a><a href="javascript:;">举报</a>
                                </footer>
                            </div>
                        </div>
                        <div class="pui-comment pui-comment-avatar-left">   
                            <div class="pui-comment-arrow"><span></span></div>                       
                            <div class="pui-comment-avatar">
                                <img src="images/17.jpg" class="pui-img-circle pui-img-xs" />
                                <p>网友</p>
                            </div>
                            <div class="pui-comment-container">
                                <header class="pui-comment-header">
                                    <div class="pui-comment-title-right">
                                        #2楼 <a href="javascript:;">赞(1)</a> <a href="javascript:;">反对(18)</a>
                                    </div> 
                                    <div class="pui-comment-subtitle"><a href="javascript:;" class="pui-link">@某某某</a> <span class="pui-comment-reply-time">回复于2014-7-12 15:30</span></div>
                                </header>
                                <section class="pui-comment-content">
                                    <blockquote>介就是回复的内容文本....</blockquote>
                                    你也太无聊了吧！
                                </section>
                                <footer class="pui-comment-foot">
                                    <a href="javascript:;">回复</a><a href="">顶</a><a href="javascript:;">举报</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="pui-comment">
                <div class="pui-comment-container">
                    <header class="pui-comment-header">
                        <div class="pui-comment-title-right">
                            #2楼 <a href="javascript:;">赞(1)</a> <a href="javascript:;">反对(18)</a>
                        </div>
                        <h5 class="pui-comment-title">评论者Auther</h5>
                        <div class="pui-comment-subtitle"><span class="pui-comment-reply-time">回复于2014-7-12 15:30</span></div>
                    </header>
                    <section class="pui-comment-content">
                        评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>
                        评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX
                    </section>
                    <footer class="pui-comment-foot">
                        <a href="javascript:;">回复</a><a href="">顶</a><a href="javascript:;">举报</a>
                    </footer>
                </div>
            </div>
            <div class="pui-comment pui-comment-avatar-left">
                <div class="pui-comment-avatar">
                    <img src="images/17.jpg" class="pui-img-circle pui-img-xs" />
                    <p>网友</p>
                </div>
                <div class="pui-comment-container">
                    <header class="pui-comment-header">
                        <div class="pui-comment-title-right">
                            #2楼 <a href="javascript:;">赞(1)</a> <a href="javascript:;">反对(18)</a>
                        </div>
                        <div class="pui-comment-subtitle"><span class="pui-comment-reply-time">回复于2014-7-12 15:30</span></div>
                    </header>
                    <section class="pui-comment-content">
                        评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>
                        评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX<br/>评论内容XXXXXXXXXXXXXXXXXXXXXXXXXX
                    </section>
                    <footer class="pui-comment-foot">
                        <a href="javascript:;">回复</a><a href="">顶</a><a href="javascript:;">举报</a>
                    </footer>
                </div>
            </div>
        </div>

        <!--[if (gte IE 9) | !(IE)]><!-->
		<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
        <!--<![endif]-->

		<!--[if lt IE 9]>
		<script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie8.js"></script>
		<![endif]-->

		<!--[if lt IE 10]>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie9.js"></script>
		<![endif]-->
		<script type="text/javascript" src="./../../dist/js/planeui.js"></script>
    </body>
</html>