<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Top10 List Examples Examples - PlaneUI</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        
        <!-- use single css file -->
        <link rel="stylesheet" type="text/css" href="./../../dist/css/planeui.css" />
	</head>
	<body>
        <div class="pui-layout" style="width:96%;padding: 20px 0;">
            <button class="pui-btn pui-btn-warning" id="btn1">打开一个父窗口</button>
        </div>

        <!--[if (gte IE 9) | !(IE)]><!-->
		<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
        <!--<![endif]-->

		<!--[if lt IE 9]>
		<script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie8.js"></script>
		<![endif]-->

		<!--[if lt IE 10]>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie9.js"></script>
		<![endif]-->
		<script type="text/javascript" src="./../../dist/js/planeui.js"></script>
		<script type="text/javascript" src="./js/dialog-iframe-test.js"></script>
    </body>
</html>