<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="PlaneUI" />
        <meta name="keywords" content="PlaneUI" />
        <title>字体 Web Font - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="./../../dist/css/planeui.css" />
	</head>
	<body>
        <div class="pui-layout" style="width:96%;">
            <br/>
            <h4>字体 Web Font</h4>   
            <p><small>兼容情况： 支持 IE8+ （IE7 及以下版本未测试）</small></p>
            <br/>
            <p class="pui-font-open-sans-regular pui-text-xxxxl">Web Font : OpenSansRegular</p>  
            <p class="pui-font-open-sans-regular pui-text-xxxxl">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
            <h2 class="pui-font-open-sans-regular pui-text-xxxxl">abcdefghijklmnopqrstuvxyz</h2>
            <h2 class="pui-font-open-sans-regular pui-text-xxxxl">0123456789</h2>
            <strong class="pui-font-zh-cn pui-text-xxxxl">简体中文</strong>
            <br/>
            <h4 class="pui-font-en pui-text-xxxl">Web Font : OpenSansRegular</h4>  
            <h2 class="pui-font-en pui-text-xxxl">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
            <h2 class="pui-font-en pui-text-xxxl">abcdefghijklmnopqrstuvxyz</h2>
            <h2 class="pui-font-en pui-text-xxxl">0123456789</h2> 
            <strong class="pui-font-zh-cn pui-text-xxxl">简体中文</strong>
            <br/>
            <h4 class="pui-font-en pui-text-xxs">Web Font : OpenSansRegular</h4>  
            <h2 class="pui-font-en pui-text-xxs">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
            <h2 class="pui-font-en pui-text-xxs">abcdefghijklmnopqrstuvxyz</h2>
            <h2 class="pui-font-en pui-text-xxs">0123456789</h2>
            <strong class="pui-font-zh-cn pui-text-xxs">简体中文</strong>
        </div>
    </body>
</html>