<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Hover Scroll - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="../../dist/css/planeui.css" />
        <style>
            
        </style>
	</head>
	<body>
        <a name="top"></a>
        <div style="width:4000px;padding-bottom: 300px;margin:15px;" id="layout">
            <br/>
            <h4 class="h4">Hover Scroll</h4> 
            <p><small>兼容情况： 支持 IE8+</small></p><br/>
            <div id="test" style="width:440px;height: 250px;overflow:hidden;">
                <img src="images/10.jpg">
            </div>
            <br/>
            <div id="test2" style="width:440px;height: 180px;overflow:hidden;">
                <p><img src="images/3.jpg"></p>
            </div>
        </div>
        <a name="bottom"></a>

        <!--[if (gte IE 9) | !(IE)]><!-->
		<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
        <!--<![endif]-->

		<!--[if lt IE 9]>
		<script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie8.js"></script>
		<![endif]-->

		<!--[if lt IE 10]>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie9.js"></script>
		<![endif]-->
		<script type="text/javascript" src="./../../dist/js/planeui.js"></script>
        <script>
            $(function() {

                $("#test").hoverScroller({
                    speed : 100
                });

                $("#test2").hoverScroller({
                    speed : 200,
                    target : "p:first"
                });
            });
        </script>
    </body>
</html>