<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="PlaneUI" />
        <meta name="keywords" content="PlaneUI" />
        <title>图片 - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="./../../dist/css/planeui.css" />
	</head>
	<body>
        <div class="pui-layout" style="width:96%;">
            <br/>
            <h4>图片 Images</h4>
            <p><small>兼容情况： 支持 IE8+</small></p><br/>
            <div class="pui-row">
                <div class="pui-right">
                    <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" width="160" class="pui-img-radius box-shadow" />
                    <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" width="160" class="pui-img-radius-plus" />
                    <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" width="160" class="pui-img-radius-plus-2" />
                    <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" width="160" class="pui-img-radius-plus-3" />
                    <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" width="160" class="pui-img-circle pui-box-shadow-plus" />
                    <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" width="160" class="pui-img-thumbnail pui-img-thumbnail-rect" />
                    <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" width="160" class="pui-img-thumbnail" />
                    <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" width="160" class="pui-img-thumbnail pui-img-thumbnail-plus" />
                </div>                
            </div>
            <div class="pui-container">
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-thumbnail pui-img-xs" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-thumbnail pui-img-sm" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-thumbnail pui-img-md" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-thumbnail pui-img-lg" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-thumbnail pui-img-xl" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-thumbnail pui-img-xxl" />
            </div>   
            <div class="pui-container">
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-circle pui-img-xxxs" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-circle pui-img-xxs" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-circle pui-img-xs" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-circle pui-img-sm" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-circle pui-img-md" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-circle pui-img-lg" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-circle pui-img-xl" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-circle pui-img-xxl" />
                <img src="http://i.gtimg.cn/music/photo/mid_album_300/w/x/000mR8hY0Kmwwx.jpg" class="pui-img-circle pui-img-xxxl" />
            </div> 
            <div class="pui-bg-color-beige pui-circle" style="width:100px;height:100px;">
                adsf
            </div>
            <div class="pui-bg-color-beige pui-ellipse" style="width:200px;height:100px;">
                adsf
            </div>
            <div class="pui-container">
                <h6>响应式图片</h6>
                <img src="http://sfile.baidu.com/r/image/2014-08-11/0a942886960e1852adae05dcbfeffb0d.jpg" class="pui-img-responsive" />
            </div>
            <br/><br/>
        </div>
    </body>
</html>