<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="PlaneUI" />
        <meta name="keywords" content="PlaneUI" />
        <title>Material Design Z Depths - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="./../../dist/css/planeui.css" />
        <style>  
            .row {width: 100%; margin-bottom: 2.4rem;}

            .box{
                padding: 1rem;
                width: 10rem;
                height: 10rem;
                background: #fff;
                display: inline-block;
                margin: 1.5rem;
                line-height: 8rem;
                text-align: center;
            }
        </style>
	</head>
	<body>
        <div class="pui-layout" style="width:96%;padding-bottom:150px;">
            <br/>
            <h4>Material Design Z Depths</h4>  
            <p><small>兼容情况： 支持 IE9+ </small></p><br/>
            <div class="row">
                <div class="box pui-z-depth-1">z-depth-1</div>
                <div class="box pui-z-depth-2">z-depth-2</div>
                <div class="box pui-z-depth-3">z-depth-3</div>
                <div class="box pui-z-depth-4">z-depth-4</div>
                <div class="box pui-z-depth-5">z-depth-5</div>
                <div class="box pui-z-depth-6">z-depth-6</div>
            </div>
            <div class="row pui-radius-all">
                <div class="box pui-z-depth-1">z-depth-1</div>
                <div class="box pui-z-depth-2">z-depth-2</div>
                <div class="box pui-z-depth-3">z-depth-3</div>
                <div class="box pui-z-depth-4">z-depth-4</div>
                <div class="box pui-z-depth-5">z-depth-5</div>
                <div class="box pui-z-depth-6">z-depth-6</div>
            </div>
            <div class="row pui-circle-all">
                <div class="box pui-z-depth-1">z-depth-1</div>
                <div class="box pui-z-depth-2">z-depth-2</div>
                <div class="box pui-z-depth-3">z-depth-3</div>
                <div class="box pui-z-depth-4">z-depth-4</div>
                <div class="box pui-z-depth-5">z-depth-5</div>
                <div class="box pui-z-depth-6">z-depth-6</div>
            </div>
        </div>
    </body>
    </html>