<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="PlaneUI" />
        <meta name="keywords" content="PlaneUI" />
        <title>通知 / 布告 / 消息框 - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="../../dist/css/planeui.css" />
	</head>
	<body>
        <div class="pui-layout pui-layout-fixed-980 pui-layout-fixed-1200">
            <br/>
            <h4>通知 / 布告 / 消息框 Notice</h4> 
            <p><small>兼容情况：不支持 IE8 及以下版本</small></p>
            <i class="pui-close"></i>
            <i class="pui-close disabled"></i>
            <i class="pui-close pui-close-bordered"></i>
            <i class="pui-close pui-close-bordered disabled"></i>
            <i class="pui-close pui-close-border-circle"></i> 
            <i class="pui-close pui-close-border-circle disabled"></i> 
            <i class="pui-close pui-close-circle"></i> 
            <i class="pui-close pui-close-circle disabled"></i> 
            <br/><br/>
            <article class="pui-notice pui-notice-icon pui-notice-icon-message pui-notice-icon-bg-info">
                <i class="pui-close pui-close-circle"></i>
                <header class="pui-notice-head">
                    <strong>通知标题</strong><small>副标题</small>
                </header>
                <div class="pui-notice-content pui-notice-content-scrollable-x"> 
                    <div style="width: 2000px;">
                        <p>
                            You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                            Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                            Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                          </p> 
                        <p>
                            You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                            Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                            Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                          </p> 
                        <p>
                            You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                            Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                            Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                          </p> 
                        <p>
                            You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                            Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                            Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                          </p> 
                        <p>
                            You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                            Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                            Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                          </p> 
                        <p>
                            You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                            Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                            Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                          </p> 
                        <p>
                            You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                            Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                            Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                          </p> 
                        <p>
                            You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                            Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                            Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                          </p> 
                    </div>
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-message">
                <i class="pui-close pui-close-circle"></i>
                <header class="pui-notice-head">
                    <strong>通知标题</strong><small>副标题</small>
                </header>
                <div class="pui-notice-content pui-notice-content-scrollable"> 
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice inline-block pui-notice-icon pui-notice-icon-message pui-notice-position-bc pui-shadow"> 
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>You asked! You asked!</p> 
                    <p>You asked! You asked!</p> 
                    <p>You asked! You asked!</p>  
                </div>
            </article>
            <article class="pui-notice inline-block pui-notice-icon pui-notice-icon-message pui-notice-position-bl pui-shadow"> 
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>You asked! You asked!</p> 
                </div>
            </article>
            <article class="pui-notice inline-block pui-notice-icon pui-notice-icon-message pui-notice-position-br pui-shadow"> 
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>You asked! You asked!</p> 
                </div>
            </article>
            <article class="pui-notice inline-block">
                <i class="pui-close pui-close-circle"></i>
                <label class="pui-badge pui-badge-info">123</label>
                <div class="pui-notice-content">
                    <p>You asked! You asked!</p> 
                    <p>You asked! You asked!</p>   
                </div> 
            </article>
            <article class="pui-notice inline-block">  
                <i class="pui-close pui-close-circle"></i>
                <label class="pui-badge pui-badge-dot pui-badge-info"></label>
                <div class="pui-notice-content">
                    <p>You asked! You asked!</p> 
                    <p>You asked! You asked!</p>   
                </div> 
            </article>
            <article class="pui-notice inline-block pui-notice-icon pui-notice-icon-message"> 
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>You asked! You asked!</p> 
                </div>
            </article>
            <div class="pui-notice-popup pui-notice-position-br"> 
                <article class="pui-notice pui-notice-icon pui-notice-icon-success square" notice-timeout="3000">
                    <i class="pui-close pui-close-border-circle"></i>
                    <div class="pui-notice-content">
                        <p>AutoTimeout You asked, Font Awesome delivers with 40 shiny new icons in version 4.2. Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. </p> 
                    </div>
                </article>
                <article class="pui-notice pui-notice-icon pui-notice-icon-success square" notice-timeout="4000">
                    <i class="pui-close pui-close-circle"></i>
                    <div class="pui-notice-content">
                        <p>You asked, Font Awesome delivers with 40 shiny new icons in version 4.2. Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. </p> 
                    </div>
                </article>
                <article class="pui-notice pui-notice-icon pui-notice-icon-question" notice-timeout="5000">
                    <i class="pui-close pui-close-circle"></i>
                    <div class="pui-notice-content">
                        <p>You asked, Font Awesome delivers with 40 shiny new icons in version 4.2. Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. </p> 
                    </div>
                </article>
                <article class="pui-notice pui-notice-icon pui-notice-icon-error" notice-timeout="6000">
                    <i class="pui-close pui-close-circle"></i>
                    <div class="pui-notice-content">
                        <p>You asked, Font Awesome delivers with 40 shiny new icons in version 4.2. Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. </p> 
                    </div>
                </article>
                <article class="pui-notice pui-notice-icon pui-notice-icon-warning" notice-timeout="7000">
                    <i class="pui-close pui-close-circle"></i>
                    <div class="pui-notice-content">
                        <p>You asked, Font Awesome delivers with 40 shiny new icons in version 4.2. Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. </p> 
                    </div>
                </article>
                <article class="pui-notice pui-notice-icon pui-notice-icon-info">
                    <i class="pui-close pui-close-circle"></i>
                    <div class="pui-notice-content">
                        <p>You asked, Font Awesome delivers with 40 shiny new icons in version 4.2. Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. </p> 
                    </div>
                </article>
            </div>
            <article class="pui-notice pui-notice-icon pui-notice-icon-tips">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-message">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-comment">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-waiting">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-unlink">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-upload">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-download">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-success">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-question">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-error pui-shadow">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-warning">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-notice-icon pui-notice-icon-info">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice pui-shadow">
                <i class="pui-close pui-close-circle"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice">
                <i class="pui-close pui-close-bordered"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            <article class="pui-notice">
                <i class="pui-close"></i>
                <div class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p> 
                </div>
            </article>
            
            <article class="pui-notice pui-notice-icon pui-notice-icon-warning">
                <i class="pui-close"></i>
                <header class="pui-notice-head">
                    <strong>通知标题</strong><small>副标题</small>
                </header>
                <section class="pui-notice-content pui-notice-not-foot">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p>
                </section>  
            </article>
            
            <article class="pui-notice">
                <i class="pui-close"></i>
                <header class="pui-notice-head">
                    <strong>通知标题</strong><small>副标题</small>
                </header>
                <section class="pui-notice-content pui-notice-not-foot">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p>
                </section> 
                <footer class="pui-notice-foot">
                    —— 来自XXXXX 2014-11-18
                </footer>
            </article>
            
            <article class="pui-notice pui-notice-head-underline">
                <i class="pui-close"></i>
                <header class="pui-notice-head">
                    <strong>通知标题</strong><small>副标题</small>
                </header>
                <section class="pui-notice-content">
                    <p>
                        You asked, Font Awesome delivers with 40 shiny new icons in version 4.2.
                        Want to request new icons? <a href="../community/#requesting-new-icons">Here's how</a>. 
                        Need vectors or want to use on the desktop? Check the <a href="../cheatsheet/">cheatsheet</a>.
                      </p>
                </section>
                <footer class="pui-notice-foot">
                    —— 来自XXXXX 2014-11-18
                </footer>
            </article>
        </div>

        <!--[if (gte IE 9) | !(IE)]><!-->
		<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
        <!--<![endif]-->

		<!--[if lt IE 9]>
		<script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie8.js"></script>
		<![endif]-->

		<!--[if lt IE 10]>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie9.js"></script>
		<![endif]-->
		<script type="text/javascript" src="./../../dist/js/planeui.js"></script>
    </body>
    </html>