<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="PlaneUI" />
        <meta name="keywords" content="PlaneUI" />
        <title>时间轴 Timeline - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="../../dist/css/planeui.css" />
	</head>
	<body>
        <div class="pui-layout" style="width:95%;">
            <br/>
            <h4>时间轴 Timeline</h4>  
            <p><small>兼容情况： 支持 IE8+</small></p><br/>
            <div class="pui-timeline">
                <div class="pui-timeline-list">
                    <div class="pui-timeline-divider pui-timeline-divider-line">2015年</div>
                    <div class="pui-timeline-item pui-timeline-badge-date">
                        <label class="pui-badge pui-badge-info">2015年01月</label>
                        <div class="pui-timeline-item-context">
                            时间XXXXX dfdfdfdfdsfdfsfdsdfds
                        </div>
                    </div> 
                    <div class="pui-timeline-divider pui-timeline-divider-line">2014年</div>
                    <div class="pui-timeline-item pui-timeline-badge-date">
                        <label class="pui-badge pui-badge-info">2014-12-05</label>
                        <div class="pui-timeline-item-context">
                            时间XXXXX dfdfdfdfdsfdfsfdsdfds
                        </div>
                    </div> 
                    <div class="pui-timeline-item pui-timeline-badge-datetime">
                        <label class="pui-badge pui-badge-info">2014-12-05 12:12:15</label>
                        <div class="pui-timeline-item-context">
                            时间XXXXX dfdfdfdfdsfdfsfdsdfds
                        </div>
                    </div> 
                    <div class="pui-timeline-item">
                        <label class="pui-badge pui-badge-info">12月</label>
                        <div class="pui-timeline-item-context">
                            时间XXXXX dfdfdfdfdsfdfsfdsdfds
                        </div>
                    </div> 
                    <div class="pui-timeline-item">
                        <label class="pui-badge pui-badge-success">18</label>
                        <div class="pui-timeline-item-context">
                            <div class="pui-tooltip pui-tooltip-bordered pui-tooltip-arrow-lt pui-tooltip-warning-light">
                                时间XXXXX dfdfdfdfdsfdfsfdsdfds
                            </div>
                        </div>
                    </div> 
                    <div class="pui-timeline-divider pui-timeline-divider-dashed-line">2013年</div>
                    <div class="pui-timeline-item">
                        <label class="pui-badge pui-badge-info pui-badge-dot"></label>
                        <div class="pui-timeline-item-context">
                            <div class="pui-tooltip pui-tooltip-bordered pui-tooltip-arrow-lt pui-tooltip-info-light">
                                时间XXXXX dfdfdfdfdsfdfsfdsdfds
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <!--[if (gte IE 9) | !(IE)]><!-->
		<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
        <!--<![endif]-->

		<!--[if lt IE 9]>
		<script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie8.js"></script>
		<![endif]-->

		<!--[if lt IE 10]>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie9.js"></script>
		<![endif]-->
		<script type="text/javascript" src="./../../dist/js/planeui.js"></script>
    </body>
</html>