<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="PlaneUI" />
        <meta name="keywords" content="PlaneUI" />
        <title>排行榜 Top10 - PlaneUI 组件示例</title>

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="../../dist/css/planeui.css" />
	</head>
	<body>
        <div class="pui-layout" style="width:96%;">
            <br/>
            <h4 class="h4">排行榜 TOP10</h4>
            <p><small>兼容情况： 支持 IE8+</small></p><br/>
            <ul class="pui-list pui-top10-list">
                <li>
                    <a href="#" class="pui-top-1">
                        <span class="pui-top-count">9561万</span>#首届世界互联网大会#
                    </a>
                    <div class="pui-top10-list-box">
                        <small>世界互联网大会那些事：吃毛豆萝卜干, 马云手写演讲稿</small>
                    </div>
                </li> 
                <li>
                    <a href="#" class="pui-top-2">
                        <span class="pui-top-count">3811万</span>#乌镇是互联网界的达沃斯？呵呵#
                    </a>
                    <div class="pui-top10-list-box">
                        <img src="images/15.jpg" height="64" />
                    </div>
                </li> 
                <li>
                    <a href="#" class="pui-top-3">
                        <span class="pui-top-count">3571万</span>#王祖蓝求婚成功#
                    </a>
                </li> 
                <li>
                    <a href="#" class="pui-top-4">
                        <span class="pui-top-count">3180万</span>#少年遭冤杀案重审#
                    </a>
                </li> 
                <li>
                    <a href="#" class="pui-top-5">
                        <span class="pui-top-count">1993万</span>#汪涵当爸爸#
                    </a>
                </li> 
                <li>
                    <a href="#" class="pui-top-6">
                        <span class="pui-top-count">1317万</span>#宠辱不惊莘小月#
                    </a>
                </li> 
                <li>
                    <a href="#" class="pui-top-7">
                        <span class="pui-top-count">1210万</span>#神曲《滑板鞋》#
                    </a>
                </li> 
                <li>
                    <a href="#" class="pui-top-8">
                        <span class="pui-top-count">78万</span>#北戴河医院砍杀案#
                    </a>
                </li> 
                <li>
                    <a href="#" class="pui-top-9">
                        <span class="pui-top-count">12万</span>#有背景还比你努力#
                    </a>
                </li> 
                <li>
                    <a href="#" class="pui-top-10">
                        <span class="pui-top-count">10万</span>#不知道放神马#
                    </a>
                </li> 
            </ul>
        </div>

        <!--[if (gte IE 9) | !(IE)]><!-->
		<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
        <!--<![endif]-->

		<!--[if lt IE 9]>
		<script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie8.js"></script>
		<![endif]-->

		<!--[if lt IE 10]>
		<script type="text/javascript" src="./../../dist/js/planeui.patch.ie9.js"></script>
		<![endif]-->
		<script type="text/javascript" src="./../../dist/js/planeui.js"></script>
    </body>
</html>