body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login-layout {
    width: 100%;
    height: 100%;
}

.login-main {
    width: 100%;
    height: 90%;
    background: #1D88E6 url(../images/bg.jpg) no-repeat bottom center;
    -webkit-background-size: contain; 
    -moz-background-size: contain; 
    background-size: contain; 
}

.login-main-con {    
    display: table;
    width: 100%;
    height: 98%;
}

.login-panel {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.login-form {
    width: 80%;
    padding: 0 20px;
    margin: -10% auto 0;
}

.login-form > .pui-form-group:first-child {
    padding-top: 0;
}

.login-form input[type=text], .login-form input[type=password] {
    color: #666;
    padding-left: 36px;
}

.login-form [role=username], .login-form [role=password], .login-form [role=vcode] {
    position: relative;
}

.login-form [role=username] > .fa, .login-form [role=password] > .fa, .login-form [role=vcode] > .fa {
    position: absolute;
    top:  10px;
    left: 12px;
    font-size: 18px;
}

#vcode-img {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 10px;
}

.fa-send {
    margin-top: -20px;
}

.pui-btn {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.login-footer {
    height: 10%;
    min-height: 80px;
}

.login-footer > .copyright {
    padding: 15px 0;
}

@media (max-width: 1024px) {
    
    input[type=text], input[type=password] {
        padding: 12px 16px;
    }
    
    .pui-btn {
        padding: 12px 20px;
    }
}

@media (max-width: 768px) {

    .login-footer {
        min-height: 80px;
    }
    
    .login-footer > .copyright {
        padding: 15px;
    }
}

@media (min-width: 768px) { 
    
    .login-form {
        width: 50%; 
    }

    .pui-btn {
        width: 100px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {  
    .login-form {
        margin-top: 0;
        width: 36%; 
    }
}

@media (min-width: 1025px) {  
    .login-form {
        margin-top: 0;
        width: 28%; 
    }

    .login-form [role=username] > .fa, .login-form [role=password] > .fa, .login-form [role=vcode] > .fa {
        top:  10px;
    }

    #vcode-img {
        top: 7px;
    }
    
    .pui-btn {
        padding-top: 6px;
        padding-bottom: 6px;
        margin-right: 10px;
    }
}


@media only screen and (max-width: 1024px) and (orientation: landscape) {
    body, html {
    }
}