

#go-to-top {
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 100;
    display: none;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

#go-to-top.hover,
html.no-touch #go-to-top:hover {
    color: #2989D6 !important;
}

.blog-header {position: relative;}

.blog-header > h2 {padding: 15px 0 0;margin-bottom: 0;}

.blog-menu {background: none;border:none;padding:0;margin:0;}

.blog-menu > .pui-menu {
    padding-top: 6px;
}

.blog-menu > .pui-menu > li > a {
    color: #fff;
    padding: 1px 15px;
    font-size: 14px;
    font-size: 1.4rem;
}

.blog-menu > .pui-menu > li > a.hover,
html.no-touch .blog-menu > .pui-menu > li > a:hover {
    background: #42A5F5;
    background: rgba(0, 0, 0, .2);
    border-radius: 100px;
}

.blog-menu > .pui-menu > li:first-child > a {
    padding-left: 0;
}

.blog-menu > .pui-menu > li:first-child > a.hover,
html.no-touch .blog-menu > .pui-menu > li:first-child > a:hover {
    padding-left: 15px;
}

.blog-menu > .pui-menu > li > .pui-menu-dropdown {
    width: 200%;
} 

.blog-main {
    min-height: 480px;
    padding: 25px 0;
    margin-bottom: 100px;
}

.blog-pagination {
    padding: 0;
}            

.blog-pagination > .pui-pagination > li > a {
    margin-bottom: 0;
}

.pui-search {width: 100%;padding:0;margin:0 auto;}

.pui-search > .pui-search-submit {
    padding-top: 8px;
}

.blog-footer {padding-bottom: 20px;}

#open-menu {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 15px;
}  

.pui-card-box.padding-l-r-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.blog-list .pui-card-title {
    position: relative;
    padding-left: 98px;
    padding-top: 15px;
}

.blog-list .pui-card-title strong {
}

.blog-list .article-date {
    position: absolute;
    top: -1px;
    left: 18px;
    padding: 11px 8px 11px;
    background: #008EE5;
    color: #fff;
    font-size: 18px;
    line-height: 1.4;
}

.blog-list .article-date small {
    display: block;
    color: #fff;
    font-size: 12px;
}

.blog-list .pui-card-box {
    padding-top: 0;
}

.article-category, .article-category > a{
    color: #ccc;
}

.article-category > a {
    margin-left: 5px;
}

.article-category > a.hover,
html.no-touch .article-category > a:hover {
    color: #2196F3;
}

.article-image { 
    margin-bottom: 5px;
}

.bdsharebuttonbox {
    width: 140px;
    margin-right: -5px;
    margin-bottom: 6px;
}

@media only screen and (max-width: 360px) {
    
    .bdsharebuttonbox.pui-right  {
        float : left !important;
    }
}

@media only screen and (max-width: 480px) {
    .blog-header > h2 {
        padding: 5px 0;
    }
    
    .blog-menu > .pui-menu > li:first-child > a {
        padding-left: 15px;
    }

    .blog-menu > .pui-menu > li > .pui-menu-dropdown {
        width: 100%;
    }

    .blog-list .pui-card-title { 
        padding-left: 15px;
        padding-left: 1.5rem;
        padding-top: 54px;
    }

    .blog-list .article-date { 
        left: 16px;
        font-size: 16px;
        padding: 5px 8px;
    }
    
    .blog-side .pui-menu-inline > li {
        display: inline-block;
    }
}

@media only screen and (max-width: 640px) {
    .blog-search {
        padding: 0;
    }

    .blog-menu > .pui-menu > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {   

    .blog-side .pui-list-column-2 > li {
        width: 99%;
        display: block;
    }
}

@media only screen and (min-width: 768px) {

    .pui-card {
        margin-bottom: 25px;
    }
    
    .blog-search {
        padding-left: 20px;
        padding-right: 0;
    }
}

@media (max-width: 1023px) {
    .blog-header{padding: 5px 15px;}
    .blog-main {padding: 20px 15px;}
    .blog-list {margin-bottom: 20px;}
    .blog-footer {padding: 0 20px 20px;}
}

@media (max-width: 768px) {
    .blog-header > h2 {  padding: 7px 0 11px;}
    .pui-search {padding-bottom: 15px;}
} 