.pui-browsehappy {
    color: #fff;
    background: #FFA726;
    position: fixed;
    *position: absolute;
    text-align: center;
    padding: 4px 0 5px;

    .pui-close {
        color: #fff;
        float: right;
        padding: 10px;
    }
}