@charset "UTF-8";

@import "lib/global";

/* Button Sheets */

.pui-button-sheet {
    background: #fff; 
    width: 100%;  
    border-collapse: collapse;
    @include user-select(none);
    -webkit-touch-callout: none;
}

.pui-button-sheet-table {
    line-height: 1;
    display: table;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.pui-button-sheet-table-unbordered {
    border: none;
}

.pui-button-sheet-row {
    display: table-row;
    width: 100%;  

    > a {  
        color: #999;
        text-align: center;
        display: table-cell;
        vertical-align: middle; 
        @include transition(all 0.05s ease-in);

        //&:hover, &.hover, &.pui-hover {
        //} 

        html.no-touch &:hover, &.hover { 
            color: #157EE0;
            background: #f6f6f6;
        } 
        
        > [class*=pui-icon], > [class*=icon-], > [class*=fa-] {
            display: block;
        } 
    }

    .pui-button-sheet-hover-bg-none > & > a:hover {
        background: none;
    } 

    .pui-button-sheet-bordered > & > a {
        border: 1px solid #ddd;
    }

    .pui-button-sheet-bordered-dashed > & > a {
        border: 1px dashed #ddd;
    }
}

.pui-button-sheet-position-wrapper {
    padding: 20px 10px 0 10px;
    padding: 2rem 1rem 0 1rem;
    background: #fff;
}

.pui-button-sheet-position-bottom {
    width: 100%;
    @include box-shadow(0 -2px 7px rgba(0, 0, 0, 0.2));
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
} 

.pui-button-sheet-wrapper {
    padding: 10px 5px;
    padding: 1rem 0.5rem;
    border: 1px solid #ddd;
    display: inline-block;
    background: #fff;
}

.pui-button-sheet-wrapper > .pui-button-sheet-table,
.pui-button-sheet-position-wrapper > .pui-button-sheet-table {
    border: none;
}