            
.pui-button-sheet-list {
    line-height: 0.91;

    > a {
        margin: 0;
        line-height: 1;
        display: inline-block;
        overflow: visible;

        html.no-touch &:hover {
            outline: 3px solid #111;
            position: relative;                
        }
    }
}