@charset "UTF-8";

@import "lib/global";

/* Button : close button */

.pui-close {
    padding: 3px 5px; 
    cursor: pointer;
    font-family: "FontAwesome"; 
    font-weight: normal;
    font-style: normal; 
    line-height: 1;
    display: inline-block;
    color: #333;
    font-size: 16px;
    font-size: 1.6rem;
    text-rendering: auto;
    text-align: center;
    vertical-align: middle; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include user-select(none);
    -webkit-touch-callout: none;
    @include transition(opacity 300ms ease-out);

    &:after {
        @include opacity(0.3);
        content: "\f00d";
    }

    html.no-touch &:hover, &.hover {
        @include opacity(0.5);
    }

    &.disabled, &.pui-disabled {
        cursor: not-allowed;
    }
}

.pui-close-bordered { 
    border:  1px solid #ddd;
    background: #fff;  
    
    html.no-touch &:hover, &.hover {
        border-color: #ccc;
    }              
}

.pui-close-border-circle {  
    border: 1px solid #ddd;
    @include border-radius(500px); 
}

.pui-close-circle { 
    @include opacity(0.4);
    font-size: 21px;
    font-size: 2.1rem;
    background: transparent;        

    html.no-touch &:hover, &.hover {
        @include opacity(0.7);
    }

    &:after {
        content: "\F057";
    } 
}

@each $name, $color in $ui-colors {
    .pui-close-#{$name} {
        color : $color;

        &:after {
            @include opacity(0.5); 
        }

        html.no-touch &:hover, &.hover {
            @include opacity(0.8);
        }
    }
}
            
.pui-close-sm {
    padding: 3px 4px;
    font-size: 12px;
}

.pui-close-md {
    font-size: 14px;
}

.pui-close-lg {
    padding: 3px 4.8px;
    font-size: 16px;
}

.pui-close-xl { 
    padding: 3px 5px;
    font-size: 18px;
}