@charset "UTF-8";

/* font-face: OpenSans-Regular-webfont */

@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), 
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), 
         url('../fonts/OpenSans-Regular-webfont.svg#entypo') format('svg');
}

