@charset "UTF-8";

/* headers */

h1, h2, h3, h4, h5, h6, .pui-h1, .pui-h2, .pui-h3, .pui-h4, .pui-h5, .pui-h6 { 
    margin-bottom: 10px;
    margin-bottom: 1rem;
    //font-family: inherit;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", STHeiti, "Helvetica Neue", Helvetica, Tahoma, "Droid Sans", "wenquanyi micro hei", Heiti, "黑体"; 
}

.pui-h1, h1 {
    font-size: 30px;
    font-size: 3rem;
}

.pui-h2, h2 {
    font-size: 24px;
    font-size: 2.4rem;
}

.pui-h3, h3 {
    font-size: 18px;
    font-size: 1.8rem;
}

.pui-h4, h4 {
    font-size: 18px;
    font-size: 1.8rem;
}

.pui-h5, h5 {
    font-size: 16px;
    font-size: 1.6rem;
}

.pui-h6, h6 {
    font-size: 14px;
    font-size: 1.4rem;
} 

