@charset "UTF-8";

@import "lib/global";

/* Mask layer */
            
.pui-mask {               
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    z-index: 100;
}

.pui-mask-bg {
    background-color: #000;
    @include opacity(0.5);
    z-index: 99;
}

.pui-mask-fixed {
    position: fixed;
}

.pui-mask-top {
    top: 0;      
    left: 0;
    bottom: auto;
    right: auto;
}

.pui-mask-bottom {
    top: auto; 
    left: 0;
    bottom: 0;
    right: auto;
}

.pui-mask-left {
    left: 0;
    right: auto;
    top: 0;                
    bottom: auto;
}

.pui-mask-right {
    left: auto;
    right: 0;
    top: 0;                
    bottom: auto;
}

.pui-mask-bg-white { 
    background-color: #fff; 
}

.pui-mask-opacity-zero {
    @include opacity(0);
}

.pui-mask-opacity-full {
    @include opacity(1);
}

.pui-mask-container {
    display: table; 
}

.pui-mask-row {
    display: table-row;
}

.pui-mask-content {       
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
}
