@charset "UTF-8";

/* scrollbar style for webkit */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    display: block;
}

::-webkit-scrollbar-button:vertical:start:increment, ::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-style: solid;
    border-color: transparent;
    border-radius: 2px;
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal {
    background-clip: padding-box;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, .2);
    min-height: 28px;
    padding-top: 100px;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
}

::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .05);
}

::-webkit-scrollbar-track:active {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
    background-color: rgba(0, 0, 0, .05);
}

// other theme

//::-webkit-scrollbar{ width: 12px; overflow: visible; }
//:: -webkit-scrollbar-button { height: 0; width: 0; } 
//::-webkit-scrollbar-track { background-clip: padding-box; border: 1px solid transparent; } 
//::-webkit-scrollbar-track:horizontal { border-width: 4px 0 0; } 
//::-webkit-scrollbar-track:hover { background-color: rgba(0,0,0,.05); border: 1px solid rgba(0,0,0,.1); } 
//::-webkit-scrollbar-track:horizontal:hover { border: 1px solid rgba(0,0,0,.1); } 
//::-webkit-scrollbar-track:active { background-color: rgba(0,0,0,.1); border: 1px solid rgba(0,0,0,.2); } 
//::-webkit-scrollbar-track:horizontal:active { border: 1px solid rgba(0,0,0,.2); } 
//::-webkit-scrollbar-thumb { background-clip: padding-box; background: rgba(0,0,0,.08); border: 1px solid rgba(0,0,0,.1); } 
//::-webkit-scrollbar-thumb:hover { background: rgba(36,36,36,.15); }
