@charset "UTF-8";

@import "lib/global";

/* Custom Switch Slide Button */
        
pui-switch-slide {
    width: 72px;  
    padding: 2px; 
    display: inline-block;
    color: #2191F6;
    background: #2191F6;
    overflow: hidden; 
    @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.2));
    @include border-radius(4px);
    vertical-align: middle;
    cursor: pointer;

    & + & {
        margin-left: 3px;
    }

    span { 
        float: left;
        font-size: 12px;
        font-size: 1.2rem;
        padding: 1px 9px; 
        padding: 0.1rem 0.9rem; 
        background: #fff;
        @include border-radius(3px);
        text-align: center; 

        &.off {
            float: right; 
        } 
    } 

    &.square, &.square span,
    &.pui-square, &.pui-square span {
        @include border-radius(0);
    }

    &.round, &.round span,
    &.pui-round, &.pui-round span {
        @include border-radius(100px);
    }

    html.no-touch &:hover span, &.hover span {
        background: #f6f6f6;
    }

    &[disabled] {
        color: #ccc;
        background: #ddd;
    }

    &.animated span,
    &.pui-switch-slide-animation span {
        @include animation(switch-slide-right 0.5s); 

        &.off {
            @include animation(switch-slide-left 0.5s);
        } 
    }
}

@-webkit-keyframes switch-slide-right {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes switch-slide-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes switch-slide-left {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes switch-slide-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
